h1 {
  font-size: 2.5em;
  text-align: center;
  color: orchid;
  margin: 30px;
}

main .card {
  margin: 0 auto;
}

main #score {
  text-align: right;
}

main #time {
  text-align: right;
}

#hiScores {
  text-align: left;
  color: white;
}

#card-body {
  background-color: powderblue;
}
